* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.caja {
  width: 200px;
  height: 200px;
  background-color: green;
}

header {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: inline-block;
  width: 100px;
  height: 30px;
}

.navegadores {
  display: flex;
  gap: 10px;
}

.perfil-usuario {
  display: flex;
}

.foto-usuario {
  display: inline-block;
  width: 50px;
  height: 50px;
  left: 50px;
  right: 50;
}

.interaccion-usuario {
  display: flex;
  flex-direction: column;
}

.hero {
  position: relative;
  display: inline-block;
  width: 100%;
}

.hero-overlay {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-button-container {
  display: flex;
  justify-content: right;
}

.ima-fondo {
  width: 100%;
  height: auto;
  aspect-ratio: 2.5/1;
}

.destacados {
  display: flex;
  background-color: grey;
  justify-content: center;
  bottom: 10%;
  padding: 40px;
}

.seccion1 {
  width: 100%;
  padding: 40px;
}

.contenedor-servicios {
  display: flex;
  gap: 10px;
}

.columna-servicios {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.servicios-derecha {
  margin-top: 30px;
}
